@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root {
    --main-color: #b46633;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background-color: #1f2029;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-blend-mode: multiply;

    background-color: var(--main-color);
    background-image: linear-gradient(147deg, #651222 0%, #000000 74%);
    background: url(../planets/planets-mars-img.width-2000.jpg) no-repeat center center fixed;
    overflow-x: hidden;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* cursor: url(../planets/cursor-planet.png), auto; */
}

.img-wrapper {
    overflow: hidden;
    width: 28%;
    height: 53%;
    overflow: hidden;
    position: absolute;
    right: 78%;
    display: none;
}

.astronaut-img {
    width: 22rem;
}

@media only screen and (min-width: 1000px) {
    .img-wrapper {
        display: block !important;
    }
}

.main {
    background: url(../planets/planets-mars-img.width-2000.jpg) no-repeat center center fixed;
    overflow-x: hidden;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 630px;
}

@media only screen and (max-width: 600px) {
    .mar-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}



a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}



/* #Light
================================================== */

body.light {
    background-color: #fff;
}

body.light .cursor,
body.light .cursor2,
body.light .cursor3 {
    mix-blend-mode: normal;
}

body.light .cursor2 {
    border: 2px solid #1f2029;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

body.light .cursor2.hover {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

body.light .menu-icon__line {
    background-color: #1f2029;
}

body.light .nav:before {
    background: rgba(235, 235, 235, 0.6);
}

body.light .nav:after {
    background: rgba(250, 250, 250, 1);
}

body.light .nav__list-item a {
    color: rgba(0, 0, 0, 0.6);
}

body.light .nav__list-item a:hover {
    color: #1f2029;
}

body.light .nav__list-item.active-nav a {
    color: #1f2029;
}


.underlined {
    /*color: black;*/
    /*flex: 1;*/
    /*font-size: 2em;*/
    /*line-height: 1.2;*/
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}

.underlined:hover {
    background-size: 100% 100%;
}

.underlined--offset {
    background-position: 0 0.2em;
    /*box-shadow: inset 0 -.5em 0 0 white;*/
    background-image: linear-gradient(100deg, rgba(0, 255, 153, 0), rgb(255, 102, 102), #6735b7 85%);
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 600vw;
    }
}

.wrapper-header {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

.main-header--title {
    font-size: 130px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 0.8em;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 55px;
    color: #fff;
}

.text-shadow {
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
}

.motto {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-right: 10px;
}

.highlight {
    color: var(--main-color);
}

.title-nl {
    font-size: 24px;
}

.commet {
    font-size: 14px;
    color: #f0f8ffde;

}

.mission {
    padding: 148px 25px;

}

@media only screen and (max-width: 600px) {
    .mission {
        padding-top: 390px;
        position: absolute;
        margin-top: 6em;

    }

    .col-lg-9 {
        max-width: 20%;
    }
}

.m-color {
    color: var(--main-color);
}

.font-weight-400 {
    font-weight: 400;
}

.stat-card {
    max-width: 23rem;
    background: rgba(0, 0, 0, 0.5);
    ;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .stat-card {
        max-width: 21rem;
    }
}

/* arrow in the header page STARTS */
.h-arrow-positioner {
    position: absolute;
    top: 100vh;
    top: calc(var(--vh, 1vh)*100);
    transform: translateY(-100%);
    padding-bottom: 28px;
    left: 4.16667vw;
    margin-left: -26px;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }
}

.h-arrow-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    animation: MoveUpDown 1s linear infinite;

}

.h-arrow-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

.h-arrow {
    position: relative;
    display: block;
    fill: #e2e2e2;
}

/* END of arrow animation */

@media only screen and (max-width: 600px) {
    .social-links {
        font-size: 0.885em !important;
    }

    .tag-line {
        font-size: 1em;
    }
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.card:hover {
    box-shadow: 0px 0px 14px rgba(227, 174, 180, 0.78);
    transition: all 0.3s ease;

}

.rotate {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.btn-explore {
    position: absolute;
    left: 44%;
    top: 60%;
    border: none;
    border-radius: 38px;
    width: 10%;
}

.btn-explore:hover {
    box-shadow: 0px 0px 14px rgba(227, 174, 180, 0.78);
    transition: all 0.3s ease;
    /* background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
    background-position: right center; */
}

@media only screen and (max-width: 600px) {
    .btn-explore {
        position: absolute;
        left: 30%;
        top: 80%;
        border: none;
        border-radius: 38px;
        width: 36%;
        height: 8%;
        font-size: 19px;
        margin: auto;
    }
}